/*Variables*/
:root{
    --background-color-primary: #3b93ad;
    --background-color-secondary: rgb(41, 41, 194);
    --text-color: #fff;
    --a-link: #fff;
    --a-link-hover: #1e1e2e;
}

/*Reseteo*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
html{
    scroll-behavior: smooth;
}
/*BODY*/
body{
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background-color-primary);
    color: var(--text-color);
}
/*NAVBAR*/
header{
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
    z-index: 100;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 30px;
    gap: 20px;
}
nav a{
    text-decoration: none;
    color: inherit;
    border: 1px solid var(--a-link);
    border-radius: 5px;
    padding: 5px 10px;
    transition: 0.2s all ease-in-out;
}
nav a:hover{
    background-color: rgba(0, 0, 0, 0.3);
}
.active{
    background-color: rgba(0, 0, 0, 0.3);
}
.nav-links{
    display: flex;
    gap: 10px;
}

/*SECCIONES*/
.section{
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 600px;
    width: 100%;
    max-width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.titulo{
    color: var(--text-color);
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}

/*PRESENTACION*/
.presentacion-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
}
#presentacion{
    background-image: url('../assets/background/background_1.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}