<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto | DevSolutions</title>
    <!--Enlace a JavaScript-->
    <script src="../js/components/contacto.js" defer></script>
    <script src="../js/components/mapa.js" defer></script>
    <script src="../js/components/footer.js" defer></script>
    <script src="../js/script.js" defer></script>
    <!--Scripts mapa-->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin="" defer></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js" defer></script>
    <!--Link a pagina de estilos CSS-->
    <link rel="stylesheet" href="../css/styles.css">
    <!--CSS Iconos-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css">
    <!--CSS Mapas-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
</head>
<body>
    <header>
        <nav>
            <a href="../index.html" class="logo">
                <img src="../assets/iconos/code-svgrepo-com.svg" alt="Logo empresa" width="150" height="150">
                <h1>DevSolutions</h1>
            </a>
            <!--Menu hamburguesa-->
            <button class="menu-toggle" aria-label="Abrir menu">
                <img src="../assets/iconos/icono_menu.svg" alt="Menu" width="28" height="28">
            </button>
            <!--Menú de navegación-->
            <div class="nav-links" id="nav-links">
                <a href="../index.html">Inicio</a>
                <a href="./galeria.html">Galería</a>
                <a href="./presupuesto.html">Presupuesto</a>
                <a class="active" href="./contacto.html">Contacto</a>
            </div>
            <!--Botón presupuesto-->
            <a href="./presupuesto.html" class="btn-presupuesto" id="btn-presupuesto">Solicitar presupuesto</a>
        </nav>
    </header>
    <main>
        <section class="section" id="contacto-section">
            <h2 class="titulo-contacto"><span>Contacto</span></h2>
            <div class="contacto-container">
                <article class="info-contacto"><!--Se carga dinámicamente--></article>
                <div class="mapa-container">
                    <div id="map"></div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-container"><!--Se carga dinámicamente--></div>
        <div class="footer-bottom">
            <p>© 2026 DevSolutions - Aviso Legal</p>
        </div>
    </footer>
</body>
</html>