<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="section" id="presupuesto">
            <h2 class="titulo-form"><span>Solcita tu presupuesto</span></h2>

            <form id="formulario-presupuesto">
                <!--Cabecera-->
                <div class="form-header">
                    <p class="form-header-eyebrow">Solictud de proyecto</p>
                    
                </div>
                <!--DATOS DE CONTACTO-->
                <fieldset>
                    <legend>Datos de contacto</legend>
                    <div class="campo">
                        <label for="nombre">Nombre</label>
                        <input type="text" id="nombre" name="nombre" required>
                    </div>
                    <div class="campo">
                        <label for="apellidos">Apellidos</label>
                        <input type="text" id="apellidos" name="apellidos" required>
                    </div>
                    <div class="campo">
                        <label for="telefono">Teléfono</label>
                        <input type="tel" id="telefono" name="telefono" required>
                    </div>
                    <div class="campo">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                </fieldset>
                <!--PRESUPUESTO-->
                <fieldset>
                    <legend>Configuración del proyecto</legend>
                    <div class="campo">
                        <label for="producto">Producto</label>
                        <select name="producto" id="producto">
                            <option value="500">Landing Page</option>
                            <option value="900">Web corporativa</option>
                            <option value="1500">Tienda online</option>
                        </select>
                    </div>
                    <div class="campo">
                        <label for="plazo">Plazo (meses)</label>
                        <input type="number" name="plazo" id="plazo" min="1" max="12" value="1">
                    </div>
                    <div class="campo">
                        <label>Extras</label>
                        <div class="extras-container">
                            <label>
                                <input type="checkbox" name="extra" class="extra" value="200">SEO Avanzado (+200€)
                            </label>
                            <label>
                                <input type="checkbox" name="extra" class="extra" value="150">Blog Corporativo (+150€)
                            </label>
                            <label>
                                <input type="checkbox" name="extra" class="extra" value="300">Mantenimiento 1 año (+300€)
                            </label>
                        </div>
                    </div>
                </fieldset>
                <!--PRESUPUESTO FINAL-->
                <fieldset>
                    <legend>Resumen</legend>
                    <div class="campo">
                        <label for="presupuesto-final">Presupuesto final</label>
                        <input type="text" name="presupuesto-final" id="presupuesto-final" value="500 €" readonly>
                    </div>
                </fieldset>
                <!--CONDICIONES-->
                <div class="condiciones">
                    <label>
                        <input type="checkbox" id="condiciones" required>He leído y acepto la política de privacidad.
                    </label>
                </div>
                <!--BOTONES-->
                <div class="botones-formulario">
                    <button type="submit">Enviar presupuesto</button>
                    <button type="reset">Vaciar formulario</button>
                </div>
            </form>
        </section>
</body>
</html>